{% extends 'base.html' %}

{% block title %}New Shipment{% endblock title %}

{% block extra_css %}
    <!--<link href="{{ STATIC_URL }}datepicker/css/bootstrap-datepicker.css?v={{ VERSION }}" rel="stylesheet">-->
    <!--<link href="{{ STATIC_URL }}select2/css/select2.min.css?v={{ VERSION }}" rel="stylesheet">-->
{% endblock extra_css %}

{% block require_javascript %}
    require(['home']);
{% endblock require_javascript %}

{% block extra_js %}
    <script type="text/javascript">
        var home_vars = {
            get_chart_data_url: "{% url 'get_chart_data' %}",
            update_chart_data_url: "{% url 'update_chart_data' %}"
        };
    </script>
{% endblock extra_js %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">

            <div id="enviro-chart"></div>

        </div>
        <div class="col-sm-4">

            <div class="box box-success">

                <div class="box-header">
                    <h3 class="box-title">
                        <i class="fa fa-asterisk fa-fw" aria-hidden="true"></i>
                        Current State
                    </h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% for enviro in enviros %}
								<div class="row">
									<div class="col-md-12 border-b"><strong>{{ enviro.name }}</strong></div>
									
									<div class="col-md-12">
										<dl class="dl-horizontal">
											{% if enviro.temp_probe %}
												<dt>Current temp:</dt><dd>{{ enviro.get_current_temp.temperature }}</dd>
                                                <dt>Ideal temp:</dt><dd>{{ enviro.get_current_ideals.temp_ideal }}</dd>
											{% endif %}

											{% if enviro.heater %}
												<dt>Heater:</dt><dd>{{ enviro.heater.is_low|yesno:"On,Off" }}</dd>
											{% endif %}
											{% if enviro.light %}
												<dt>Lights:</dt>
												<dd>
													<span>{{ enviro.light.is_low|yesno:"On,Off" }}</span>
													<span id="light-toggle-{{ enviro.light.channel_id }}" class="btn btn-xs btn-flat btn-default">Turn{{ enviro.light.is_low|yesno:"Off,On" }}</span>
												</dd>
											{% endif %}
										</dl>
									</div>
								</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}